In [11]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [12]:
transfers = pd.read_csv('transfermarkt-data/transfers.csv')
transfers["transfer_date"] = pd.to_datetime(transfers["transfer_date"])
transfers["transfer_year"] = transfers["transfer_date"].dt.year

# dropping columns that are not needed
transfers.drop(columns=["player_id", "from_club_id", "to_club_id"], inplace=True)

transfers.head()

,transfer_date,transfer_season,from_club_name,to_club_name,transfer_fee,market_value_in_eur,player_name,transfer_year
0,2026-06-30,25/26,VfB Stuttgart,Bayern Munich,0.0,12000000.0,Alexander Nübel,2026
1,2026-06-30,25/26,1.FSV Mainz 05,Bayern Munich,0.0,4000000.0,Armindo Sieb,2026
2,2026-06-30,25/26,Lazio,Salernitana,0.0,15000000.0,Boulaye Dia,2026
3,2026-06-30,25/26,APO Levadiakos,Panathinaikos,0.0,200000.0,Georgios Katris,2026
4,2026-01-17,25/26,Charlotte,Galatasaray,0.0,8000000.0,Wilfried Zaha,2026

In [15]:
transfers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78887 entries, 0 to 78886
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   transfer_date        78887 non-null  datetime64[ns]
 1   transfer_season      78887 non-null  object
 2   from_club_name       78887 non-null  object
 3   to_club_name         78887 non-null  object
 4   transfer_fee         51385 non-null  float64
 5   market_value_in_eur  48858 non-null  float64
 6   player_name          78887 non-null  object
 7   transfer_year        78887 non-null  int32
dtypes: datetime64[ns](1), float64(2), int32(1), object(4)
memory usage: 4.5+ MB

In [28]:
retired = transfers[transfers["to_club_name"] == "Retired"]
retired.head()

,transfer_date,transfer_season,from_club_name,to_club_name,transfer_fee,market_value_in_eur,player_name,transfer_year
16,2025-07-01,25/26,NEC Nijmegen,Retired,NaN,150000.0,Lasse Schöne,2025
17,2025-07-01,25/26,Royal Antwerp,Retired,NaN,2200000.0,Toby Alderweireld,2025
18,2025-07-01,25/26,Khimki,Retired,NaN,100000.0,Denis Glushakov,2025
1228,2025-01-01,24/25,Sevilla FC,Retired,NaN,2500000.0,Jesús Navas,2025
3176,2024-07-11,24/25,RWDM,Retired,NaN,250000.0,Xavier Mercier,2024